{% extends 'base_site.html' %}
{% load static %}

{% block headtitle %} Dettaglio Libro {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Dettagli Libro</h3>
        <div class="box-tools pull-right">
          <a href="{% url 'modifica_libro' libro.pk %}"
          type="button" class="btn btn-ocra btn-sm"><i class="fa fa-edit text-white"></i>
          </a>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12">
            <strong><i class="fas fa-barcode margin-r-5"></i> ISBN</strong>
            <p>{{ libro.isbn }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-font margin-r-5"></i> Titolo</strong>
            <p>{{ libro.titolo }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-pen-nib margin-r-5"></i> Autore</strong>
            <p>{{ libro.get_autori_display }}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-12">
            <strong><i class="fas fa-file-alt margin-r-5"></i>Descrizione</strong>
            <p>{{ libro.descrizione }}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-atlas margin-r-5"></i>Genere</strong>
            <p>{{ libro.genere }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-atlas margin-r-5"></i>Sottogenere</strong>
            <p>{{ libro.sottogenere|default:'-' }}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-book margin-r-5"></i>Editore</strong>
            <p>{{ libro.editore }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-object-group margin-r-5"></i>Collana</strong>
            <p>{{ libro.collana|default_if_none:'-' }}</p>
          </div>
        </div>

        <hr>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-md-5">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Situazione Prestito</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12">
            <strong><i class="fas fa-question-circle margin-r-5"></i>Stato Libro</strong>
            {% if libro.is_disponibile %}
              <span class="label label-success lb-md pull-right">Disponibile</span>
            {% else %}
              <span class="label label-danger lb-md pull-right">Non disponibile</span>
            {% endif %}
          </div>
        </div>
        {% if current_prestito %}
          <div class="row">
            <div class="col-xs-12">
              <hr>
              <strong><i class="fas fa-book-reader margin-r-5"></i>Profilo</strong>
              <span class="pull-right">{{ current_prestito.profilo }}</span>
            </div>
          </div>
          {% if current_prestito.data_richiesta %}
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <strong><i class="fas fa-calendar margin-r-5"></i>Data richiesta</strong>
                <span class="pull-right">{{ current_prestito.data_richiesta }}</span>
              </div>
            </div>
          {% endif %}
          {% if current_prestito.data_inizio %}
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <strong><i class="fas fa-calendar margin-r-5"></i>Data inizio prestito</strong>
                <span class="pull-right">{{ current_prestito.data_inizio }}</span>
              </div>
            </div>
          {% endif %}
          {% if current_prestito.data_scadenza %}
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <strong><i class="fas fa-calendar margin-r-5"></i>Scadenza Prestito</strong>
                <span class="pull-right">{{ current_prestito.data_scadenza }}</span>
              </div>
            </div>
            <hr>
          {% endif %}
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- / .box -->
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Storico Prestiti</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Utente</th>
              <th>Data Richiesta</th>
              <th>Data Inizio</th>
              <th>Data Scadenza</th>
              <th>Stato</th>
            </tr>
          </thead>
          <tbody>
            {% for prestito in libro.prestito_set.all %}
            <tr>
              <td>
                <a href="{% url 'dettaglio_prestito' prestito.pk %}" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
                  <i class="fas fa-info-circle fa-130-p"></i>
                </a>
              </td>
              <td>{{ prestito.profilo }}</td>
              <td>{{ prestito.data_richiesta }}</td>
              <td>{{ prestito.data_inizio }}</td>
              <td>{{ prestito.data_scadenza }}</td>
              <td>
                {% if prestito.is_concluso %}
                  <span class="label label-info">Concluso</span>
                {% elif prestito.is_incorso %}
                  <span class="label label-danger">In corso</span>
                {% else %}
                  <span class="label label-warning">Richiesto</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
{% endblock %}
