{% extends 'base_site.html' %}
{% load static %}

{% block headtitle %} Dettaglio Prestito {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Dettagli Prestito</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12">
            <strong><i class="fas fa-book-open margin-r-5"></i>Libro</strong>
            {% if perms.core.view_dettaglio_libro %}
            <a href="{% url 'dettaglio_libro' prestito.libro.pk %}" target="_blank">
              <span class="pull-right">
                {{ prestito.libro.get_titolo_autori_display }} <i class="fas fa-external-link-alt"></i>
              </span>
            </a>
            {% else %}
            <span class="pull-right">
              {{ prestito.libro.get_titolo_autori_display }}
            </span>
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <strong><i class="fas fa-question-circle margin-r-5"></i>Stato</strong>
            {% if prestito.is_incorso %}
              <span class="label label-danger lb-md pull-right">In corso</span>
            {% elif prestito.is_richiesto %}
              <span class="label label-warning lb-md pull-right">Richiesto</span>
            {% else %}
              <span class="label label-info lb-md pull-right">Concluso</span>
            {% endif %}
          </div>
        </div>
        {% if prestito.data_richiesta %}
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <strong><i class="fas fa-calendar margin-r-5"></i>Data richiesta</strong>
              <span class="pull-right">{{ prestito.data_richiesta }}</span>
            </div>
          </div>
        {% endif %}
        {% if prestito.data_prestito %}
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <strong><i class="fas fa-calendar margin-r-5"></i>Data prestito</strong>
              <span class="pull-right">{{ prestito.data_prestito }}</span>
            </div>
          </div>
        {% endif %}
        {% if prestito.data_restituzione %}
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <strong><i class="fas fa-calendar margin-r-5"></i>Scadenza Prestito</strong>
              <span class="pull-right">{{ prestito.data_restituzione }}</span>
            </div>
          </div>
          <hr>
        {% endif %}
        {% if perms.core.gestisci_prestito %}
          {% if prestito.is_richiesto %}
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-left">
                    <form action="{% url 'consegna_libro' prestito.pk %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success">
                        <i class="far fa-arrow-alt-circle-up"></i> Registra Consegna
                      </button>
                    </form>
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-rifiuta">
                    <i class="far fa-times-circle"></i> Rifiuta Richiesta
                  </button>
                </div>
              </div>
            </div>
          {% endif %}
          {% if prestito.is_incorso %}
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-left">
                  <form action="{% url 'restituzione_libro' prestito.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">
                      <i class="far fa-arrow-alt-circle-down"></i> Registra Restituzione
                    </button>
                  </form>
              </div>
              <div class="pull-right">
                <a href="{% url 'segnala_profilo' prestito.profilo.pk %}" class="btn btn-danger">
                  <i class="fas fa-user-times"></i> Segnala
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- / .box -->
  </div>
  <div class="col-md-6">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Dettagli Utente</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-user margin-r-5"></i> Nome</strong>
            <p>{{ prestito.profilo.nome }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-user margin-r-5"></i> Cognome</strong>
            <p>{{ prestito.profilo.cognome}}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-id-badge  margin-r-5"></i>Codice Fiscale</strong>
            <p>{{ prestito.profilo.codfisc }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-birthday-cake  margin-r-5"></i>Data di Nascita</strong>
            <p>{{ prestito.profilo.data_nascita }}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <strong><i class="fas fa-phone margin-r-5"></i>Telefono</strong>
            <p>{{ prestito.profilo.telefono }}</p>
          </div>
          <hr class="visible-xs clearfix">
          <div class="col-md-6">
            <strong><i class="fas fa-at margin-r-5"></i>Email</strong>
            <p>{{ prestito.profilo.email }}</p>
          </div>
        </div>

        <hr>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<!-- Rifiuta richiesta modal -->
<div class="modal fade in" id="modal-rifiuta" style="display: none; padding-right: 12px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Rifiuta richiesta prestito</h4>
      </div>
      <div class="modal-body">
        <p>Dopo aver rifiutato la richiesta non sarà più possibile recuperarla.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Chiudi</button>
        <form action="{% url 'rifiuta_richiesta' prestito.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            Continua
          </button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
