{% extends 'base_site.html' %}
{% load static render_fields %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Dettagli</h3>
      </div>
      <div class="box-body">
        <form class="" action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-12">
              {{ form.nome|render }}
            </div>
          </div>
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          <hr>
          <div class="row">
            <div class="col-md-3 hidden-xs"></div>
            <div class="col-md-3 hidden-xs"></div>
            <div class="col-md-3">
              <button class="btn btn-block btn-danger btn-flat">Annulla</button>
              <span class="visible-xs">&nbsp;</span>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-block btn-success btn-flat">Salva</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
{% endblock %}
