{% extends 'base_site.html' %}
{% load static %}

{% block content %}

<div class="btn-group">
  <button type="button" class="btn btn-ocra">Aggiungi</button>
  <button type="button" class="btn btn-ocra dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {% if perms.core.add_documento %}
    <li>
      <a class="padding-t-10 padding-b-10" href="{% url 'aggiungi_documento' %}" type="button" class="btn btn-ocra">Documento</a>
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li>
      <a class="padding-t-10 padding-b-10" href="{% url 'aggiungi_documento_amministratore'%}">Documento Amministratore</a>
    </li>
    {% endif %}
  </ul>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="{% if request.user.is_staff %}col-md-6{% else %}col-xs-12{% endif %}">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Documenti ({{ object_list.count }})</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              {% if perms.core.view_dettaglio_documento %}
                <th></th>
              {% endif %}
              <th>Nome File</th>
              <th>Data Upload</th>
              <th>Utente</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in object_list %}
            <tr>
              {% if perms.core.view_dettaglio_documento %}
              <td>
                <a href="{% url 'dettaglio_documento' doc.pk %}" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
                  <i class="fas fa-info-circle fa-130-p"></i>
                </a>
              </td>
              {% endif %}
              <td>{{ doc.nome }}</td>
              <td>{{ doc.data_upload|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ doc.user }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  {% if request.user.is_staff %}
  <div class="col-md-6">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Documenti Amministratore ({{ documenti_amministratore.count }})</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Nome File</th>
              <th>Data Upload</th>
              <th>Utente</th>
            </tr>
          </thead>
          <tbody>
            {% for doc_amm in documenti_amministratore %}
            <tr>
              <td>
                <a href="{% url 'dettaglio_documento_amministratore' doc_amm.pk%}" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
                  <i class="fas fa-info-circle fa-130-p"></i>
                </a>
              </td>
              <td>{{ doc_amm.nome }}</td>
              <td>{{ doc_amm.data_upload }}</td>
              <td>{{ doc_amm.user }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  {% endif %}
  
</div>
{% endblock %}
