{% extends 'base_site.html' %}
{% load static %}

{% block content %}

<div class="btn-group">
  <button type="button" class="btn btn-ocra">Aggiungi</button>
  <button type="button" class="btn btn-ocra dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a class="padding-t-10 padding-b-10" href="{% url 'aggiungi_editore' %}" type="button" class="btn btn-ocra">Editore</a>
    </li>
    <li>
      <a class="padding-t-10 padding-b-10" href="{% url 'aggiungi_collana' %}">Collana</a>
    </li>
  </ul>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-6">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Editori ({{ tot_editori }})</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            {% for editore in editori_list %}
            <tr>
              <td>
                <a href="{% url 'modifica_editore' editore.pk %}" class="text-ocra" data-balloon="Modifica" data-balloon-pos="right">
                  <i class="fas fa-pen-square fa-130-p"></i>
                </a>
              </td>
              <td>{{ editore.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-md-6">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Collane ({{ tot_collane }})</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Nome</th>
              <th>Editore</th>
            </tr>
          </thead>
          <tbody>
            {% for collana in collane_list %}
            <tr>
              <td>
                <a href="{% url 'modifica_collana' collana.pk %}" class="text-ocra" data-balloon="Modifica" data-balloon-pos="right">
                  <i class="fas fa-pen-square fa-130-p"></i>
                </a>
              </td>
              <td>{{ collana.nome }}</td>
              <td>{{ collana.editore }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
