{% extends 'base_site.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <a href="" type="button" class="btn btn-ocra">Aggiungi</a>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-ocra">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Libro</th>
              <th>Utente</th>
              <th>Data Prestito/Richiesta</th>
              <th>Data Restituzione</th>
              <th>Stato Prestito</th>
            </tr>
          </thead>
          <tbody>
            {% for libro in object_list %}
            <tr>
              <td>
                <a href="#" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
                  <i class="fas fa-info-circle fa-130-p"></i>
                </a>
              </td>
              <td>{{ libro.get_titolo_autori_display }}</td>
              <td>{{ libro.profilo_prestito.full_name }}</td>
              {% if libro.data_richiesta %}
                <td>{{ libro.data_richiesta }}</td>
              {% elif libro.data_prestito %}
                <td>{{ libro.data_prestito }}</td>
              {% endif %}
              <td>{{ libro.data_restituzione|default:'-' }}</td>
              <td>
                {% if libro.is_inprestito %}
                  <span class="label label-danger">In prestito</span>
                {% else %}
                  <span class="label label-warning">Pendente</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
