{% extends 'base_site.html' %}
{% load static %}

{% block content %}

<div class="btn-group">
  <a href="{% url 'aggiungi_documento' %}" type="button" class="btn btn-ocra"><i class="fas fa-plus"></i> Aggiungi</a>
</div>

<p>&nbsp;</p>

{% include 'inc/filtri_documento.html' %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Documenti ({{ object_list.count }})</h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              {% if perms.core.view_dettaglio_documento %}
                <th></th>
              {% endif %}
              <th>Nome File</th>
              <th>Data Caricamento</th>
              <th>Caricato Da</th>
              {% if request.user.is_staff %}
                <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for doc in object_list %}
            <tr>
              {% if perms.core.view_dettaglio_documento %}
              <td>
                <a href="{% url 'dettaglio_documento' doc.pk %}" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
                  <i class="fas fa-info-circle fa-130-p"></i>
                </a>
              </td>
              {% endif %}
              <td>{{ doc.nome }}</td>
              <td>{{ doc.data_upload|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ doc.user }}</td>
              {% if request.user.is_staff %}
                <td class="text-center">
                  {% if doc.is_amministrazione %}
                  <div data-balloon="Amministrazione" data-balloon-pos="left">
                    <i class="fas fa-lock fa-130-p text-red"></i>
                  </div>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
