{% extends 'base_site.html' %}
{% load static %}

{% block content %}
<div class="box box-red">
  <div class="box-header">
    <h3 class="box-title">Libri</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ISBN</th>
          <th>Titolo</th>
          <th>Autore</th>
          <th>Editore</th>
          <th>Genere</th>
          <th>Sottogenere</th>
          <th>Collana</th>
          <th>Stato</th>
        </tr>
      </thead>
      <tbody>
        {% for libro in object_list %}
        <tr>
          <td>
            <a href="{% url 'dettaglio_libro' libro.id %}" class="text-ocra" data-balloon="Dettaglio" data-balloon-pos="right">
              <i class="fas fa-info-circle fa-w-16"></i>
            </a>
          </td>
          <td>{{ libro.isbn }}</td>
          <td>{{ libro.titolo }}</td>
          <td>{{ libro.get_autori_display }}</td>
          <td>{{ libro.editore }}</td>
          <td>{{ libro.genere }}</td>
          <td>{{ libro.get_sottogeneri_display|default:'-' }}</td>
          <td>{{ libro.collana }}</td>
          <td>
            {% if libro.disponibile %}
              <span class="label label-success">Disponibile</span>
            {% else %}
              <span class="label label-danger">In prestito</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

{% endblock %}
