{% extends 'base_site.html' %}
{% load static render_fields %}

{% block extracss %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-ocra">
      <div class="box-header with-border">
        <h3 class="box-title">Segnala la problematica:</h3>
      </div>
      <div class="box-body">
        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="row">
            <div class="col-md-6">
              {{ form.tipo|render }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{ form.descrizione|render }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{ form.sospendi|render }}
            </div>
          </div>
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          <hr>
          {% include 'inc/submit_annulla.html' %}
        </form>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
