{% extends 'base.html' %}
{% load static %}

{% block extracss %}
{{ block.super }}
<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'css/skins/skin-red-light.min.css' %}">
<!-- icheck -->
<link href="{% static 'plugins/iCheck/flat/red.css' %}" rel="stylesheet">
<!-- Balloon tootltips -->
<link href="{% static 'css/balloon.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body-extraclass %}skin-red-light layout-top-nav{% endblock %}

{% block main-header %}
{% include 'inc/header.html' %}
{% endblock %}

{% block main-sidebar %}
{% comment %}{% include 'inc/sidebar.html' %}{% endcomment %}
{% endblock %}

{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
      {% block content-header %}
        <!-- Content Header (Page header) -->
        <section class="content-header mb-5">
          {% block content-header-title %}
          <h1>
            {{titolo}}
            <small>{{sottotitolo}}</small>
          </h1>
          {% endblock %}
          {% block breadcrumbs %}
            <!-- Breadcrumbs -->
            {% include 'inc/breadcrumbs.html' %}
          {% endblock %}
        </section>
      {% endblock %}

      <!-- Main content -->
      <section class="content">
        {% block content-top-toolbar %}{% endblock %}
        {% block message %}
          {% include 'inc/messages.html' %}
        {% endblock %}
        {% block content-top %}{% endblock %}
        {% block content %}{% endblock %}
        {% block content-bottom %}{% endblock %}
      </section>
      <!-- /.content -->
    </div>
    <!-- / .container -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versione</b> {{version_string}}
  </div>
  <strong>Biblioteca by <a href="#">Giulia Calanca</a></strong>
</footer>
{% endblock %}

{% block extrajs %}
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/biblioteca.js' %}"></script>

{% endblock %}
