{% load render_fields %}

<div class="row">
  <div class="col-xs-12 margin-b-15 margin-t-15">
    <form action="" method="get" class="form-inline filter">
        {{ filter.form.titolo_isbn|render }}
        {{ filter.form.autori|render }}
        {{ filter.form.editore|render }}
        {{ filter.form.collana|render }}
        {{ filter.form.genere|render }}
        <div class="form-group valign-bottom">
        <button type="submit" class="btn btn-ocra"><i class="fa fa-search"></i>&nbsp;Filtra</button>
        <a class="btn btn-link" href="?">Resetta</a>
      </div>
    </form>
  </div>
</div>
