{% load static %}
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{% url 'dashboard' %}" class="navbar-left">
          <img src="{% static 'img/logo.png' %}" alt="logo" id="logo-navbar" class="hidden-xs">
        </a>
        <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'catalogo' %}{% endif %}" class="navbar-brand"><b>B</b>IBLIOTECA</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'catalogo' %}">Catalogo</a></li>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'login' %}">Area privata</a></li>
          {% endif %}
          {% if perms.core.view_libro %}
          <li><a href="{% url 'elenco_libri' %}">Libri</a></li>
          {% endif %}

          {% if perms.core.view_prestito %}
          <li><a href="{% url 'elenco_prestiti' %}">Prestiti</a></li>
          {% endif %}

          {% if perms.core.view_documento %}
          <li><a href="{% url 'elenco_documenti' %}">Documenti</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Area accessibile via login -->
          {% comment %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Amministrazione <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="padding-t-10 padding-b-10" href="{% url 'elenco_autori' %}">Elenco Autori</a></li>
              <li><a class="padding-t-10 padding-b-10" href="{% url 'elenco_generi_sottogeneri' %}">Elenco Generi e Sottogeneri</a></li>
              <li><a class="padding-t-10 padding-b-10" href="{% url 'elenco_editori_collane' %}">Elenco Editori e collane</a></li>
            </ul>
          </li>
          {% endcomment %}

          <!-- User Account -->
          {% if user.is_authenticated %}
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span>{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'img/profile_circle.jpg' %}" class="img-square" alt="Profile Image">
                <p>
                  {% firstof user.get_full_name user.get_username %}
                  <small>Utente dal:</small>
                  <small>{{user.date_joined}}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                {% if user.is_staff %}
                <div class="pull-left">
                  <a href="{% url 'admin:index' %}" class="btn btn-default btn-flat" target="_blank">Admin</a>
                </div>
                {% endif %}
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Logout</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- / .container -->
  </nav>
</header>
