<aside class="main-sidebar">
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MENU'</li>
        <li>
          <a href="{% url 'dashboard' %}">
            <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'elenco_libri' %}">
            <i class="fas fa-book"></i> <span>Elenco Libri</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">2</small>
            </span>
          </a>
        </li>
    </section>
    <!-- /.sidebar -->
  </aside>
